<!DOCTYPE html>
<html>
    <head>
        <title> Arens Blog<html>
            <head>
                <meta charset="utf-8">
                <title> Arens blog</title>
                
            </head>
        
            <body dir="rtl">
                    <div  id="layout" style="border-style:double;">
                        <header style="text-align:left; background-color:darkorange">
                            <h1>	Arens Blog </h1>
                            <hr>
                        </header>
                        <nav style=" text-align:left;">
                            <b style=" background-color:bisque;">Home page</b> |
                            <b style=" background-color:bisque;">sign up</b> |
                            <b style=" background-color:bisque;">log in<b> |
                            <b style=" background-color:bisque;">Help</b> |
                            <hr>			
                        </nav>
                        <section style="height:400px;background-color:#EEEEEE;">
                            <article style="text-align:left;color:black;">
                                <h2>Georgia</h2><br>
                                Georgia is a country located at the intersection of Eastern Europe and Western Asia.
                                It is a part of the Caucasus region, bounded to the west by the Black Sea, to the north and east by Russia, to the south by Turkey and Armenia
                                , and to the southeast by Azerbaijan. It covers 69,700 square kilometres (26,911 sq mi), and has a population of around 4 million.
                                 Georgia is a representative democracy governed as a unitary parliamentary republic. Tbilisi is the capital and largest city,
                                home to roughly a quarter of the population. <br>
                                <h2>Armenia</h2><br>
                                 Armenia officially the Republic of Armenia, is a landlocked country located in the Armenian Highlands of Western Asia.
                                It is a part of the Caucasus region; and is bordered by Turkey to the west,Georgia to the north,Republic of Artsakh in the East,
                                and Azerbaijan to the east, and Iran and the Azerbaijani exclave of Nakhchivan to the south. Yerevan is the capital and largest city.
                                <h2> Azerbaijan</h2><br>
                                officially the Republic of Azerbaijan,is a country located at the boundary of Eastern Europe and Western Asia.
                                 It is a part of the South Caucasus region, and is bounded by the Caspian Sea to the east, Russia to the north, Georgia to the northwest,
                                 Armenia and Turkey to the west, and Iran to the south. Baku is the capital and largest city.
                            </article>
                            
                        </section>
                        <footer style="text-align:left; background-color:darkorange">
                            <hr>
                            <h3>privacy policy        designed by Aren Avakians</h3>
                        </footer>
                                    
                    </div>
            </body>
        </html>
        </title>
    </head>
<body>
    <p>Hi there!</p>
    <p>It works!</p>
    <p>bareeeeevvvvvvvvvvvv yes arennem  </p>
</body>
</html>